:root {
    --surface: #15130b;
    /* bg */
    --surface-bright: #3c3930;
    /* hover bg */
    --surface-container: #222017;
    /* surface bg */
    /* --outline: #969080; /* too bright */
    --primary-containter: #534600;
    --on-primary-containter: #f8e287;
    --secondary-containter: #4e472a;
    --on-secondary-containter: #eee2bc;
    --tertiary-containter: #2c4e38;
    --on-tertiary-containter: #c5ecce;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Arial, sans-serif;
    background-color: var(--surface);
    color: #e8e2d4;
    line-height: 1.6;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--surface-container);
    top: 0;
    position: fixed;
    width: 100%;
    max-height: 4em;
}

header a {
    text-decoration: none;
    color: inherit;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

nav li {
    box-shadow: inset 0 0 0 0 var(--surface-bright);

    a {
        padding: 0.8em 0.75em;
        display: block;
    }
}

nav li:hover:not(#active) {
    transition: 0.5s;
    box-shadow: inset 100vw 0 0 0 var(--surface-bright);
}

nav #active {
    background-color: var(--secondary-containter);
    color: var(--on-secondary-containter);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    flex-direction: column;
    visibility: hidden;

    min-width: 150px;
    z-index: 1;
    background-color: var(--surface-container);
}

#logo {
    background-color: var(--tertiary-containter);
    color: var(--on-tertiary-containter);
    font-size: 1.5rem;
    padding-inline: 1.5em;
    margin-inline: 1.5em;
}

h1,
p {
    margin: 1em;
}

#menu-toggle,
#menu-button {
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar {
        display: none;
    }

    #menu-toggle {
        display: none;
    }

    #menu-button {
        display: inline;
        padding: 1em 1.5em;
        cursor: pointer;
    }

    #menu-toggle:checked~.navbar {
        border-top: 1px solid var(--primary-containter);
        display: inline;
        position: absolute;
        top: 100%;
        text-align: center;
        width: 100%;

        background-color: var(--surface-container);

        ul {
            gap: 0;
            flex-direction: column;
        }
    }

    .dropdown-menu {
        visibility: hidden;
        width: 100%;
        position: absolute;
    }

    .dropdown-menu.open {
        visibility: visible;
        top: 0;
        display: block;
        position: relative;
        border-top: 1px solid var(--primary-containter);
    }

    #menu-toggle:checked~#menu-button {
        background-color: var(--secondary-containter);
    }

    #content {
        padding: 4em 1em 1em;
        max-width: 80ch;
    }
}

@media screen and (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        visibility: visible;
    }

    #content {
        padding: 5em 4em 4em 4em;
        max-width: 80ch;
    }
}
