:root {
    --color: #e8e2d4;
    --surface: #15130b;
    /* bg */
    --surface-bright: #3c3930;
    /* hover bg */
    --surface-container: #222017;
    /* surface bg */
    /* --outline: #969080; /* too bright */
    --primary-containter: #534600;
    --on-primary-containter: #f8e287;
    --secondary-containter: #4e472a;
    --on-secondary-containter: #eee2bc;
    --tertiary-containter: #2c4e38;
    --on-tertiary-containter: #c5ecce;
}


* {
    margin: 0;
    padding: 0;
}

p,
h1 {
    margin: 1em;
}

html,
body {
    font-family: Arial, sans-serif;
    background-color: var(--surface);
    color: var(--color);
    line-height: 1.6;
    height: 100%;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content {
    padding-bottom: 30rem;
    /* short of margin between content and footer */
}


footer {
    position: absolute;
    bottom: 0;

    width: 100%;
    background-color: var(--surface-container);

    display: grid;
    grid-template-columns: 3fr 2fr;
    padding-block: 2em;
    align-items: center;
}

.footer-content {
    padding: 2em;
}

#l-footer {
    border-right: 1px solid var(--primary-containter);
}

#logo {
    background-color: var(--tertiary-containter);
    color: var(--on-tertiary-containter);
}

#map {
    padding: 2em;

    iframe {
        width: 100%;
        height: 100%;
        position: relative;
        border: 0;
    }
}

#contact {
    display: flex;
    flex-direction: column;

    padding-block: 3em;

    input {
        font-size: 1.2rem;
        border: 0;
        border-bottom: 1px solid var(--surface);
        background-color: var(--secondary-containter);
        color: var(--on-secondary-containter);
    }

    input[type="submit"] {
        text-align: left;
        background-color: var(--on-secondary-containter);
        color: var(--secondary-containter);
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    #content {
        padding-bottom: 40em;
    }

    footer {
        height: 40em;
        position: absolute;
        bottom: 0;

        width: 100%;
        background-color: var(--surface-container);

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .footer-content {
        margin-inline: 2em;
        padding: 1em;
    }

    #l-footer {
        border-right: 0;
        border-bottom: 1px solid var(--primary-containter);
    }
}
